{% extends "account/base.html" %}
{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
  <main class="mt-10">
    <br>
    <br>
    <br>
    <br>
    
    
    <div class="container mt-5">
      <section class="mb-4"  style="background-color: white; border-radius:12px; padding-top:30px; padding-bottom:40px">
        <div class="row wow fadeIn">
          <div class='col-6 offset-2'>
          <h1>{% trans "Sign In" %}</h1>

          {% get_providers as socialaccount_providers %}

          {% if socialaccount_providers %}
          <p>{% blocktrans with site.name as site_name %}Please sign in with one
          of your existing third party accounts. Or, <a href="{{ signup_url }}" class="text-green" style="color: green">sign up</a>
          for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

          <div class="socialaccount_ballot">

            <ul class="socialaccount_providers">
              {% include "socialaccount/snippets/provider_list.html" with process="login" %}
            </ul>

            <div class="login-or">{% trans 'or' %}</div>

          </div>

          {% include "socialaccount/snippets/login_extra.html" %}

          {% else %}
          
          {% endif %}

          <form class="login" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
            {{ form|crispy }}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            {% comment %} <a class="btn btn-default" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a> {% endcomment %}
            <button class="btn text-white " style="border-radius:12px; background-color:#974cc2;" type="submit">{% trans "Sign In" %}</button>
            <br>
            <br>
            <p> Don't Have an Account? <a href="/signup" style="color: green !important"> Register Here </a>
            </form>
          </form>
          </div>
        </div>
      </section>
    </div>
  </main>

{% endblock %}
