{% extends 'base.html' %}

{% block content %}


    <main class="" >
        <div class="container" style="margin-top: 80px; padding:50px; border-radius:12px; color:gray-600; background-color: white">
            <div class="p-7">
                <h3 class=" m-4"> FAQs </h3>
                <hr />
                <br>
                {% comment %} 1 {% endcomment %}
                <div class="m-9">
                    <h4> 1. Do I need to have an account to order? </h4>
                    <p> No, you can also place an order as a guest. But, there are some perks if you have an account with us </p>
                    <ul>
                        <li> Quick checkout process</li>
                        <li> Easily view your order status and order history</li>
                        <li> Receive updates detailing our new releases and special promotions </li>
                    </ul>
                </div>
    
                <h3 class=" mt-5"> <hr /> </h3>
    
                {% comment %} 2 {% endcomment %}
                <div class=" mt-5">
                    <h4> 2. What payment methods do you accept? </h4>
                    <p> We offer the most convenient payment method: COD(Cash On Delivery), you can pay cash, or pay through M-PESA for your package when our Delivery Associates bring it to your door step.
                        It’s easy, fast and secure!  No risk! </p>
                    
                </div>
    
                <h3 class=" mt-5"> <hr /> </h3>
                {% comment %} 3 {% endcomment %}
                <div class=" mt-5">
                    <h4> 3.  How to place an order? </h4>
                    <p> Just 4 steps: </p>
                    <ul>
                        <li> Step 1: Choose the product you want, Click the button "BUY IT NOW"</li>
                        <li> Step 2: Fill in your contact information, email, name, mobile number, detailed address, etc. And then, click the button "Continue to shipping"</li>
                        <li> Step 3: We have already chosen the shipping method "Free Shipping" for you, you just click the button "Continue to payement"</li>
                        <li> Step 4: We have already chosen the payment method "Cash on Delivery" for you, you just click the button " Complete order".  After you complete your order, you will receive an order confirmation email. </li>
                    </ul>
                </div>
                
                <h3 class=" mt-5"> <hr /> </h3>
                 {% comment %} 4 {% endcomment %}
                 <div class=" mt-5">
                    <h4> 4. How do I set my shipping address? </h4>
                    <p> Since our website and service are based on English, all the information that you typed in is required to be English input method, including punctuations. If certain letters of your address contain Non-English letters, you are advised to use the similar English ones instead. For example, you may change letter "?" to "c". </p>
                    
                </div>
    
                <h3 class=" mt-5"> <hr /> </h3>
                 {% comment %} 5 {% endcomment %}
                 <div class=" mt-5">
                    <h4> 5. Can I change my shipping address after placing an order? </h4>
                    <p> Please be advised that your shipping address cannot be revised after the order has been processed or shipped. Kindly update your shipping address to your residential address instead of your vacational 
                        address as we do not know how long the destination's customs department will have the package on hold. </p>
                    
                 </div>
    
                 <h3 class=" mt-5"> <hr /> </h3>
                 {% comment %} 6 {% endcomment %}
                 <div class=" mt-5">
                    <h4>6. Can I change my shipping address after placing an order? </h4>
                    <p> The delivery time is based on the shipping option that you have chosen. Once the order has shipped, we will email your tracking number and tracking website. 
                        We are not responsible for delays caused by the customs department in your country. </p>
                    
                 </div>
    
                 <h3 class=" mt-5"> <hr /> </h3>
                 <div class=" mt-5">
                    <h5 style="font-weight:bold">
                        If you still have any question, please contact us directly at email:  info@e-storekenya.com 
                    </h5>
                    
                    
                 </div>
    
                 <br>
    
    
            </div>
        </div> 
        {% include "footer.html" %}
    </main>   
{% endblock %}
